.footer-content-box {
  background: #333333;
}
.footer {
  color: #999999;
  @media screen and (max-width: 1023px) {
    background: #333333;
  }
  &__content {
    padding-top: 36px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1023px) {
      padding-top: 48px;
      gap: 16px;
      justify-content: space-between;
    }
    &--item {
      display: flex;
      gap: 60px;
      @media screen and (max-width: 1023px) {
        gap: 16px;
        justify-content: space-between;
      }
      @media screen and (max-width: 510px) {
        justify-content: unset;
      }
      & .item__name {
        color: #ffffff;
        font-size: 16px;
        margin-bottom: 20px;
        font-weight: 500;
        @media screen and (max-width: 1023px) {
          font-size: 0.22rem;
          margin-bottom: 0.3rem;
        }
      }
      & .item__children {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #999999;
        font-size: 14px;
        @media screen and (max-width: 1023px) {
          font-size: 0.2rem;
        }
        & img {
          width: 80px;
          cursor: auto;
          border: 2px solid #ffffff;
        }
      }
    }
  }
  &__copyright {
    background-color: #2b2b2b;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    @media screen and (max-width: 1023px) {
      font-size: 19px;
      font-size: 0.18rem;
      background-color: #333333;
      height: unset;
      padding: 0 15px 40px 15px;
    }
  }
  & .option {
    display: flex;
    gap: 6px;
    & .value {
      color: #ffffff;
    }
  }
}
