.header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  max-width: 100vw;
  height: 70px;
  display: flex;
  backdrop-filter: blur(20px);
  box-shadow: 0px 7px 8px 0px rgb(151 151 151 / 19%);
  a {
    color: var(--color-gray-3);
  }
  background: rgba(255, 255, 255, 0.95);
  @media (max-width: 1023px) {
    height: 1.3rem;
  }
  .un-login {
    margin-left: 0.8rem;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #0f7bff;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    @media (max-width: 1023px) {
      display: flex !important;
    }
  }
  .icon-more {
    width: 0.38rem;
    height: 0.31rem;
    cursor: pointer;
    img{
      vertical-align: baseline;
    }
  }
}
.container {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1023px) {
    padding-left: 0.47rem;
    padding-right: 0.3rem;
  }
}
.logo-nav {
  display: flex;
  justify-items: center;
}
.logo {
  display: flex;
  align-items: center;
  margin-right: 51px;
  span {
    margin-left: 10px;
    font-size: 20px;
    color: var(--color-blue);
    font-weight: bold;
    @media (max-width: 1023px) {
      font-size: 0.32rem;
      margin-left: 0.1rem;
    }
  }
}

.nav {
  display: flex;
  li {
    margin-right: 30px;
    display: flex;
    align-items: center;
    a {
      transition: color 0.3s;
      font-weight: bold;
    }
    a.selected {
      color: var(--color-blue);
    }
    a:not(.cooperation) {
      margin-top: 1px;
    }
    a:hover:not(.cooperation) {
      color: var(--color-blue);
    }
    a.cooperation {
      display: inline-block;
      width: 98px;
      height: 38px;
      text-align: center;
      line-height: 38px;
      background-color: transparent;
      border-radius: 6px;
      border: 1px solid #ffa200;
      color: #ffa200 !important;
    }
  }
}
.user {
  display: flex;
  align-items: center;
  .vip {
    margin-right: 25px;
    margin-top: 6px;
    img {
      height: 18px;
      width: auto;
      margin-bottom: 5px;
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      p {
        margin-top: 5px;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
  .register {
    span.b {
      cursor: pointer;
      &:hover {
        color: var(--color-blue);
      }
    }
    span {
      padding: 0 10px;
    }
  }
}
