.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  .content {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 0;
    span.close {
      position: absolute;
      right: 30px;
      top: 30px;
      z-index: 100;
      width: 38px;
      height: 38px;
      background: #000;
      border-radius: 50%;
      padding: 12px;
      cursor: pointer;
      pointer-events: auto;
      @media (max-width: 1023px) {
        display: none;
      }
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
