.popup-alert-video {
  z-index: 2;
  background-color: #fff;
  border: none;
  margin: 30px auto 0 auto;
  max-width: 1308px;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  word-wrap: break-word;
  border-radius: 2px;
  &.conditionalClose {
    animation: conditionalClose 0.3s forwards ease-in-out;
  }
  &.hide {
    transform: scaleY(0);
  }
  @media (max-width: 1440px) {
    width: 95%;
  }
  .content {
    flex: 1 1;
    display: flex;
    margin-left: 8px;
    color: rgba(0, 0, 0, 0.85);
    a {
      color: #f88e06;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

@keyframes conditionalClose {
  from {
    transform: scale(1, 1);
    margin: 30px auto 0 auto;
  }
  to {
    transform: scale(1, 0);
    margin: 5px auto;
  }
}
